@model BookingViewModel

<h1>Booking information</h1>
<div class="event-user-wrapper">
    <div class="booking-event-info-wrapper">
        <h3 class="event-h3">Event</h3>
        <div class="date-time-wrapper">
            <h5>@Model.EventDate.ToString("yyyy-mm-dd")</h5>
            <h5>@Model.EventDate.ToString("HH:mm")</h5>
        </div>

        <h3>@Model.EventName</h3>

        <h6>{booking.EventLocation}</h6>

    </div>

    @* USER INFO *@
    <div class="user-info-container">
        <h3 class="user-h3">User</h3>
        <div class="user-border-bottom"></div>
        <div class="user-info-wrapper">
            <div class="user-info-text-wrapper">
                <div class="user-info-boldtext">Fullname: </div>
                <div>@Model.FirstName @Model.LastName</div>
            </div>
            <div class="user-info-text-wrapper">
                <div class="user-info-boldtext">Email: </div>
                <div>@Model.Email</div>
            </div>
            <div class="user-info-text-wrapper">
                <div class="user-info-boldtext">Phone: </div>
                <div>@Model.PhoneNumber</div>
            </div>
            <div class="user-info-text-wrapper">
                <div class="user-info-boldtext">Adress: </div>
                <div>@Model.Address</div>
            </div>
            <div class="user-info-text-wrapper">
                <div class="user-info-boldtext">City: </div>
                <div>@Model.City</div>
            </div>
            <div class="user-info-text-wrapper">
                <div class="user-info-boldtext">Postalcode: </div>
                <div>@Model.PostalCode</div>
            </div>
        </div>
    </div>
</div>

@* TICKET INFO *@
<h2>Ticket</h2>
<table class="ticket-table">
    <thead>
        <tr class="ticket-table-head">
            <th>Ticket Price</th>
            <th>Qty</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr class="ticket-table-body">
            <td>@Model.TicketPrice</td>
            <td>@Model.TicketAmount</td>
            <td>@Model.TotalPrice</td>
        </tr>
    </tbody>
</table>

@* CANCEL BUTTON  *@
<div class="cancel-btn-wrapper">
    @if (Model.EventDate > DateTime.UtcNow)
    {
        <form asp-controller="Booking" asp-action="DeleteBooking" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="cancel-btn"><div>Cancel Booking</div></button>
        </form>
    }
    else
    {
        <button class="cancel-btn-past-date" disabled><div>Event completed, no changes allowed</div></button>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="booking-cancel-error">
        <p class="error-message-delete">@ViewBag.ErrorMessage</p>
        </div>
    }
</div>

@* MOVE TO EVENT CARD OR WHATEVER LATER *@
<form asp-controller="Booking" asp-action="BookingForm" method="post">
    <input type="hidden" asp-for=Id />
    <input type="hidden" asp-for=UserId />
    <input type="hidden" asp-for=EventId />
    <input type="hidden" asp-for=FirstName />
    <input type="hidden" asp-for=LastName />
    <input type="hidden" asp-for=Email />
    <input type="hidden" asp-for=PhoneNumber />
    <input type="hidden" asp-for=Address />
    <input type="hidden" asp-for=PostalCode />
    <input type="hidden" asp-for=City />
    <input type="hidden" asp-for=EventName />
    <input type="hidden" asp-for=EventDate />
    <input type="hidden" asp-for=TicketPrice />

    @* ADD EVENTLOCATION WHEN AVALIABLE *@
    @* <input type="hidden" asp-for=EventLocation /> *@
    <button type="submit" class="book-event-btn">Proceed to booking</button>
</form>