@using Presentation.Controllers
@model IEnumerable<EventViewModel>
@using Authentication.Entities
@using Microsoft.AspNetCore.Identity



@* EVENT HEADER *@
<partial name="./Partials/EventPartials/_EventHeaderPartial" />

@* EVENT SOMETHING *@
<div class="event-page">
    <div class="event-list">
        @foreach(var e in Model)
        {
            <a asp-controller="Event" asp-action="Details" asp-route-id="@e.EventId" class="event-link">
            <div class="event-card">
                <div class="event-image">
                    @*<img src="@e.Image" alt="@e.EventTitle" />*@
                    Image goes here
                </div>
                <div class="event-column">
                        <div class="event-category">@e.Category</div>
                        <h4 class="event-title">@e.EventTitle</h4>
                        <div class="event-description">@e.Description</div>
                </div>
                <div class="event-column date">
                        <div class="event-location">
                            <i class="fa-light fa-location-dot"></i>
                            @e.Location
                        </div>
                        <div class="event-date">@e.Date?.ToString("MMMM d, yyyy")</div>
                        -
                        <div class="event-time">
                            @e.Date?.ToString("h:mm tt")
                        </div>

                </div>
                <div class="event-price">
                    @if (e.Price == 0)
                    {
                        <span class="free">Free</span>
                    }
                    else
                    {
                        <span class="paid">@e.Price.ToString("C")</span>
                    }
                </div>

                <div class="event-status"> @e.BookingStatus</div>
            </div>
        </a>

        }
    </div>
@*     
    @if (User.IsInRole("Admin"))
    { *@
        <a asp-controller="Event" asp-action="Create" class="btn">
                Create Event
        </a>
@*     }
 *@</div>